@page "/"

<style>
    #wrapper, img {
        width: 100%;
        height: 100%;
    }

  


</style>

<PageTitle>Home</PageTitle>


<div id="wrapper">
    <img src="/Images/landing_page.png" asp-append-version="true" />

</div>


